@import url(http://fonts.googleapis.com/css?family=Denk+One);

body { 
	background-color: #c4c4c4;
}

#container {
	margin: 0px auto;
	overflow-x: hidden;
}

#intro-container,
#nav-container, 
#about-me-container {
	height: 900px;
	position: relative;
}

#intro-container { 
	background: url(../images/intro-image.jpg) 50% 0px no-repeat fixed;
	background-size: 100% 100%;
}

#intro-header { 
	color: rgb(10, 10, 10);
	font-family: 'Denk One', Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	right: 5%;
	text-align: center;
	top: 10%;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
	z-index: 10;
}	

#intro-header h1 { 
	font-size: 80px;
	line-height: 80px;
	text-shadow: -2px 0 2px #000066;
}

#intro-header small { 
	font-size: 16px;
	line-height: 16px;
}

#nav-container { 
	background-image: -o-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -webkit-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.38, #c4c4c4), color-stop(0.80, #ffffff));
}

.nav-image {
	background: #000000 url(../images/gold-picture-frame-349x291.png) left top no-repeat;
	padding: 60px;
	height: 171px;
	position: absolute;
	top: 50px;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	width: 229px;
	z-index: 10;
}

.nav-image.num-1 { 
	left: 50px;
}

.nav-image.num-2 { 
	left: 426px;
}

.nav-image.num-3 { 
	left: 797px;
}

.nav-image.num-4 { 
	right: 611px;
	top: 363px;
}

.nav-image.num-5 { 
	right: 240px;
	top: 363px;
}

.nav-image.num-1.off-screen,
.nav-image.num-2.off-screen,
.nav-image.num-3.off-screen {
	left: -1000px;
}

.nav-image.num-4.off-screen,
.nav-image.num-5.off-screen {
	right: -1000px;
}

.nav-image img {
	height: 100%;
	width: 100%;
}

/* Temporary styles for the about me container. */

#about-me-container {
	background-color: #000000;
}

#about-me-container p {
	color: #666666;
	font-weight: bold;
}
