@import url(http://fonts.googleapis.com/css?family=Denk+One);

body { 
	background-color: #c4c4c4;
}

#container {
	margin: 0px auto;
	overflow-x: hidden;
}

#intro-container,
#nav-container, 
#about-me-container {
	min-height: 900px;
	position: relative;
}

#intro-container { 
	background: url(../images/intro-image.jpg) 50% 0px no-repeat fixed;
	background-size: cover;
}

#intro-header { 
	color: rgb(10, 10, 10);
	font-family: 'Denk One', Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	right: 5%;
	text-align: right;
	top: 10%;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
	z-index: 10;
}	

#intro-header h1 { 
	font-size: 80px;
	line-height: 80px;
	margin-bottom: 10px;
	text-shadow: -2px 0 2px #000066;
}

#intro-header small { 
	font-size: 16px;
	line-height: 16px;
	padding-right: 5px;
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#intro-header h1 { 
		font-size: 60px;
		line-height: 50px;
	}

	#intro-header small { 
		padding-right: 2px;
	}
}
     
/* Landscape phones and down */
@media (max-width: 480px) {
	#intro-header h1 { 
		font-size: 40px;
		line-height: 40px;
	}

	#intro-header small { 
		padding-right: 2px;
	}
}

#nav-container { 
	background-image: -o-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -webkit-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: linear-gradient(top, #c4c4c4 38%, #ffffff 80%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.38, #c4c4c4), color-stop(0.80, #ffffff));
	padding-bottom: 200px;
	padding-top: 100px;
	text-align: center;
}

/* Large desktop */
@media (min-width: 1200px) { 
	#nav-container {
		padding-left: 200px;
		padding-right: 200px;
	}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#nav-container {
		padding-left: 100px;
		padding-right: 100px;
	}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#nav-container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
     
/* Landscape phones */
@media (max-width: 480px) {  
	#nav-container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Portrait phones */
@media (max-width: 360px) {  
	#nav-container {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.nav-image {
	background: #000000 url(../images/gold-picture-frame-349x291.png) left top no-repeat;
	display: inline-block;
	height: 171px;
	overflow: hidden;
	padding: 60px;
	position: relative;
	margin: 0px 20px 40px 20px;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	width: 229px;
}

/* Portrait phones */
@media (max-width: 360px) {  
	.nav-image {
		background-color: transparent;
		background-size: 100% 100%;
		margin: 0px 0px 40px 0px;
		padding: 40px;
	}
}

.nav-image img {
	height: 100%;
	width: 100%;
}

.nav-image .nav-image-caption {
	background: transparent url(../images/trophy-plaque-175x50.png) left top no-repeat;
	color: #ba954c;
	cursor: pointer;
	font-family: 'Denk One', Helvetica, sans-serif;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	left: 87px;
	position: absolute;
	text-align: center;
	top: 235px;
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
	width: 175px;
}

.nav-image .nav-image-caption.hidden {
	top: -100px;
}

/* Temporary styles for the about me container. */

#about-me-container {
	background-color: #000000;
}

#about-me-container p {
	color: #666666;
	font-weight: bold;
}
